<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Off" internalLogFile="c:\temp\nlog-internal.log">
  <variable name="logFolderName" value="Logs"/>
  <targets>
    <target name="file" xsi:type="AsyncWrapper" queueLimit="5000" overflowAction="Discard">
      <target name="file" xsi:type="File"
          fileName="${basedir}/${logFolderName}/${shortdate}.log"
          archiveFileName="${basedir}/${logFolderName}/archives/{#}.log"
          archiveEvery="Day"
          maxArchiveFiles="1"
          archiveNumbering="DateAndSequence"
          archiveDateFormat="yyyyMMdd"
          keepFileOpen="true" >
        <layout xsi:type="CsvLayout" delimiter="Tab">
          <column name="date" layout="${longdate}" />
          <column name="level" layout="${level}" />
          <column name="message" layout="${message}" />
          <column name="logger" layout="${logger}" />
          <column name="exception" layout="${exception:format=tostring}" />
          <column name="callsite" layout="${callsite:includeSourcePath=true}" />
          <column name="callsite-linenumber" layout="${callsite-linenumber}" />
          <column name="processname" layout="${processname}" />
          <column name="processid" layout="${processid}" />
          <column name="machinename" layout="${machinename}" />
          <column name="appdomain" layout="${appdomain}" />
          <column name="sequenceid" layout="${sequenceid}" />
        </layout>
      </target>
    </target>
    <target xsi:type="ColoredConsole"
          name="console"
          useDefaultRowHighlightingRules="true" >
      <layout xsi:type="CsvLayout" delimiter="Tab">
        <column name="date" layout="${longdate}" />
        <column name="level" layout="${level}" />
        <column name="message" layout="${message}" />
        <column name="logger" layout="${logger}" />
        <column name="exception" layout="${exception:format=tostring}" />
        <column name="callsite" layout="${callsite:includeSourcePath=true}" />
        <column name="callsite-linenumber" layout="${callsite-linenumber}" />
        <column name="processname" layout="${processname}" />
        <column name="processid" layout="${processid}" />
        <column name="machinename" layout="${machinename}" />
        <column name="appdomain" layout="${appdomain}" />
        <column name="sequenceid" layout="${sequenceid}" />
      </layout>
    </target>
  </targets>
  <rules>
    <logger name="*" minlevel="Info" writeTo="file" />
    <logger name="*" minlevel="Trace" writeTo="console" />
  </rules>
</nlog>
